
<div class="homepage">
<h2><%= link_to "Sign up", signup_path, 
													 class: "btn btn-default btn-lg btn-custom",
													 id: "the1" %></h2>
</div>

<h4 class="home-page-icon"><span class="glyphicon glyphicon-chevron-up"></span></h4>
<h4 class="home-page-icon"><span class="glyphicon glyphicon-chevron-up"></span></h4>
<h1>I"s Very Simple!!!</h1>
<h2 id="home2">Don't try</h2>
