<div class="hide-event-box">
	<div class="event-box-head  <%= i.color %>">
		<div class="event-date"><%= stretch(i) %></div>
	  <div class="event-title"><%= i.title %></div>
	</div>  
	  <div class="event-description"><%= simple_format(i.description) %></div>
</div>