
		<div class="article-show">
			<%= raw article.title %></br>
			<HR>
			<%= raw article.content %><br>
			<%= link_to "閱讀全文", "#", class: "full-content" %><br>
			<div class="created-at">
				<%= article.created_at %>
			</div>
		</div>
