<div id="article-series" class="row">
  	<% @categories.each do |category| %>	
  	<div class="col-md-6 col-sm-6 col-xs-12">
  	    <fieldset>
  	    	<legend><%= category.name %></legend>
  	    	<% category.articles.each do |article| %>
  	    		<ul>
  	    			<li><%= link_to article.title,user_article_path(@user, article) %></li>
  	    		</ul>
  	    </fieldset>
  	  <% end %>  
  </div>
  	<% end %>    
</div>  