<% provide(:title, "#{blog_title_now} - Archive") %>
<div class="article-index">
  <%= render 'shared/flash' %>
  <h1>Archive</h1>
  <div class="tags-all"> 
    <span class="glyphicon glyphicon-tags"></span>
    <%= raw user_tags_info(@tags) %>
    <%= link_to "標籤管理", user_tags_path %>
  </div>
</div>
<div class="article-index-item">
  
    <%= render partial: 'articles', collection: @articles, as: :article %>
  
</div>