<% provide(:title, "index") %>
<div class="row">
	<div class="col-md-5 col-sm-5 col-xs-11 index-year">  
  	<%= render 'articles_list' %>
  </div>	
  <div class="col-md-4 col-sm-4 hidden-xs" id="box-3">
    <div id="tags">
      <span class="glyphicon glyphicon-tags"></span>CATEGORIES
    </div>
    <div class="user-show-tags">
      <%= render partial: 'shared/tags', collection: @tags, as: :tag %>
    </div>
  </div> 
</div>  