<% provide(:title, "") %>
<div class="row user-show">
  <%= render 'layouts/header' %>  
  <HR class="hr-2"> 

  <div class="col-md-4 hidden-sm hidden-xs" id="side-bar">
    <%= render 'side_bar/side_bar' %> 
  </div>

	<article class="col-md-8 col-sm-12 col-xs-12 user-articles">
	  <%= render partial: 'articles', collection: @articles, as: :article %>	
	</article>
</div>


<div class="pagi">
  <%= paginate @articles, :window => 2 %>
</div>
