<% provide(:title, "") %>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12">
    <%= render 'side_bar' %> 
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12 hidden-xs" id="box-hidden">
  </div>


	<div class="col-md-9 col-sm-9 col-xs-12" id="user-show-articles">
	  <%= render partial: 'articles', collection: @articles, as: :article %>	
	</div>
</div>


<div class="pagi">
  <%= paginate @articles, :window => 2 %>
</div>
