/* 顏色 */

$gray1: #f8f8f8;
$gray2: #eee;
$gray3: #d9e0e2;
$gray4: #a6abaf;
$gray5: #505050;
$gray6: #42464c;


$green: #93c378;
$green1: #70b29c;
$green2: #00a78e;
$green3: #00a480;

$red: #d7584f;

$blue1: #489fc9;
$blue2: #5482ab;

$blue6: #3b5a6f;