@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing { 
  -moz-box-sizing:    border-box; 
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body{ margin:0; height:100%; }

/* else */

.gravatar {
  background: #e8e9d7;
  padding: 2px;
  border: 2px solid #595a5c;
  border-radius: 50%;
}


/* 通用 */

body {
  color: #a5a9ab;
	background-color: #1d1d1b;
	font-size: 15px;
	font-family: Microsoft JhengHei;
	padding-top: 70px;
	@include box_sizing;
	.container-fluid {
	height: 100%;
	width: 100%;
	padding: 0;
  }
}

.background {
	margin-top: -20px;
	color: #f9ebdf;
	padding-top: 120px;
	height: 100%;
	width: 100%;
	border: none;
	background-color: #1d1d1b;
	background-image: image-url("rails.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}



h1 {
	color: #666666;
	text-align: center;
}

h2 {
	
	text-align: center;
}



/* navbar */

.navbar {
	font-weight: bold;
	padding-left: 15px;
	.nav {
	margin-right: 5px;
	}
}

#logo {
	
	float: left;
	font-size: 30px;
	color: #eeeeee;
	letter-spacing: -2.5px;
	padding-top: 3px;
	font-weight: 3000;
	margin-left: 5px;
	&:hover {
	color: #e68523;
	text-decoration: none;
	}
  &:active {
  color: darken(#e68523,15%);
	text-decoration: none;
  }
}




/* 表單 */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	margin-bottom: 15px;
  height: auto !important;
  @include box_sizing 
}

.form-control {
	background: #d7d7d8;
}


/* 訊息 */


.alert-success {
	color: #f9ebdf;
	background-color: transparent;
	border: none;
}

.alert-danger {
	margin-top: -40px;
	color: #dd5143;
	background-color: black;
}

.field_with_errors {
	color: #dd5143;
}


