@import "bootstrap-sprockets";
@import "bootstrap";
@import 'global';


@mixin box_sizing { 
  -moz-box-sizing:    border-box; 
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body{ margin:0; height:100%; }


/* else */

.danger {
	color: #d7584f;
}


.redactor-box {
	border-radius: 10px;
	z-index: 0 !important;
	margin: 5px 0;
	height: 350px;
	.redactor-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
		z-index: 0 !important;
		border-bottom: 2px solid $gray4;
		background: $gray2;
		.re-image {
			display: none;
		}
	}
	.redactor-editor {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	  border: 1px solid $gray3;
		height: 350px;
	  background: #fff;
		p {
			font-size: 18px;
			letter-spacing:01.0px;
		}
	}
}

.dark-hr {
  background: $gray3;
  color: $gray3;
  clear:both;
  float: none;
  width: 100%;
  line-height: 1px;
  font-size: 0;
  border: 1px solid $gray3;
  margin: 40px 0;
}

.hr-2 {
  background: $gray3;
  color: $gray3;
  clear:both;
  float: none;
  width: 100%;
  line-height: 1px;
  font-size: 0;
  border: 1px solid $gray3;
  margin: 20px 0 40px 0;
}	



/* 通用 */

body {
  color: #444;
  background: #f1f2f3;
	font-size: 1.8em;
	font-family: "Open Sans",Helvetica,"Microsoft JhengHei", sans-serif;
	padding-top: 70px;
	height: auto;
	@include box_sizing;
	a {
		font-family: Helvetica, "Microsoft JhengHei", sans-serif;
		color: $blue1;
		&:hover {
			text-decoration: none;
			color: $blue2;
		}
		&:active {
			text-decoration: none;
		}
	}
	.container-fluid {
	  height: 100%;
	  width: 100%;
	  padding: 0 15px;
  }
}


h1 {
	color: #666666;
	font-size: 60px;
	text-align: center;
	letter-spacing: 3px;
}

h2 {
	color: #666666;
	text-align: center;
	font-size: 50px;
	letter-spacing: 3px;
}

h3 {
	color: #666666;
	font-size: 40px;
	letter-spacing: 2px;
}

h4 {
	font-weight: bolder;
	color: #666666;
	text-align: left;
	font-size: 30px;
	letter-spacing: 2px;
	margin: 0;
}

h5 {
	font-weight: bolder;
	color: #666666;
	text-align: left;
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0;

}


.title {
	margin: 80px 0 50px 0;
}



/* 表單 */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	margin-bottom: 15px;
  height: auto !important;
  @include box_sizing 
}

.form-control {
	background: #fff;
	border-radius: 10px;
}

.checkbox { 
	p {
	margin-left: 20px;
	}
}

#remember_me {
	margin-left: 0;
}


/* 訊息 */

#error_explanation {
	ul {
		line-height: 30px;
	}
}

.alert {	
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
}

.alert-success {
	color: $green;
	margin: 5px 5px;
	padding: 10px;
}

.alert-danger {
	color: #d3505a;
	margin-top: 10px;
	line-height: 25px;
}

.field_with_errors {
	color: #d3505a;
}


