/* 雜 */

.return {
	display: block;
	margin: 30px 0;
}


/* article index */


.article-index {
	margin: 60px 0;
}

.article-index-item {
	padding: 0;
	font-size: 1em;
	li {
		margin: 20px 0 0 0;
	}	
}

.article-index-edit {
	float: right;
}

.article-index-delete {
	color: #d7584f;
	float: right;
}

.article-index--- {
	float: right;
		margin: 0 10px;
}

/* 關於文章 */

.article-show-page {
	margin: 90px 0px 0px 0px;
  .article-content {
	padding: 5px;
	background-color: lighten(#e9e8dd, 3%);
  }
}

.article-show-page-title {
	margin: 5px 10px;
}



/* 新增 */

.article-new {
	margin: 60px 0 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	background: #f5f5f1;
	label {
		font-size: 1.3em;
		font-weight: bolder;
		margin-top: 30px;
	}
}

#article-new-title {
	margin: 5px 0;
  font-size: 20px;
	background: lighten(#e9e8dd, 3%)
}

.tag-field {
	label {
		margin: 10px 20px 10px 0;
		.check_box {
		  margin: 0 8px 0 0;
 	  }
  }
}



