

/* 分頁 */

.pagi {
	text-align: center;
}


/* article */

.article-index {

}

.article-new {
	margin: 20px 0;
	padding-top: 30px;
	padding-bottom: 60px;
	background: #f5f5f1;
}

.article-show {
	padding: 20px;
	margin: 30px;
	border: solid 1px grey;
	height: auto;
	width: 100%;
	border: none;
}

.created-at {
	text-align: right;
}

.full-content {
	margin-top: 50px;
	color: #629aa9;
}



#article-title {

}




