/* 雜 */

.return {
	display: block;
	margin: 30px 0;
}


/* article index */


.article-index {
	margin: 60px 0 0 0;
	padding: 20px 15px;
	background: #f5f5f1;
	border-bottom: 3px solid #e7e6dd;
	.tags-all {
	  margin: 20px 0;
	  background: #f5f5f1;
	  height: 100px;
	  width: 100%;
	  text-align: center;
	  padding: 30px 0;
	  a {
	  	margin: 10px 5px;
	  }
  }
}

.article-index-item {
	font-size: 1em;
}

.article-index-item div:nth-child(even) {
	margin: 0;
	padding: 20px 20px;
	width: 100%;
	height: 130px;
	background: #f5f5f1;
	border-bottom: 1.5px solid #fffaec;
}	

.article-index-item div:nth-child(odd) {
	margin: 0;
	padding: 20px 20px;
	width: 100%;
	height: 130px;
	border-bottom: 1.5px solid #fffaec;
	background: lighten(#f5f5f1, 3%);
}			

.article-index-edit {
	float: right;
}

.article-index-delete {
	color: #d7584f;
	float: right;
}

.article-index--- {
	float: right;
		margin: 0 10px;
}





/* 關於文章 */

.article-show-page {
	margin: 90px 0px 0px 0px;
  .article-content {
	padding: 5px;
	background-color: lighten(#e9e8dd, 3%);
  }
}

.article-show-page-title {
	margin: 5px 10px;
}



/* 新增 */

.article-new {
	margin: 60px 0 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	background: #f5f5f1;
	label {
		font-size: 1.3em;
		font-weight: bolder;
		margin-top: 30px;
	}
}

#article-new-title {
	margin: 5px 0;
  font-size: 20px;
	background: lighten(#e9e8dd, 3%)
}

.tag-field {
	label {
		margin: 10px 20px 10px 0;
		.check_box {
		  margin: 0 8px 0 0;
 	  }
  }
}



