/* 雜 */

.return {
	display: block;
	margin: 30px 0;
}


/* 關於文章 */
.article-index {
	margin: 60px 0;
}

.article-show-page {
	margin-top: 50px;
  .article-content {
	padding: 20px;
	background-color: lighten(#e9e8dd, 2%);
  }
}

.article-new {
	margin: 40px 0 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	background: #f5f5f1;
}

#article-new-title {
	background: darken(#f5f5f1, 5%)
}


