/* calendar */

#calendar {
	margin: 15px 0;
	font-size: 14px;
	color: $gray4;
	padding: 0 5px;
}

.calendar-each-row {
  height: 40px;
	text-align: center;
	border-bottom: 1px solid $gray3;
	padding: 0 0 0 5px;
}


.calendar-month {
	margin: 10px auto;
	text-align: center;
	color: $gray4;
	font-size: 16px;
	font-weight: bolder;
}

.week {
	font-size: 13px;
	font-weight: bolder;
  color: #788292;
	height: 50px;
	width: 13%;
	float: left;
	display: inline-block;
	text-align: center;
	margin: 15px 1px 25px 1px;
}


.event, .article-day, .no-article-days {
	height: 40px;
	width: 13%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1px;
	div {
		height: 27px;
		width: 27px;
		margin: auto;
		line-height: 27px;
		a {
			color: $red;
			font-weight: bold;
		}
	}
}


.article-day {
	margin-right: 2px;
	.today  {
		a {
		  color: #fff;
		}
	}
  .active {
		background: $gray4;
		border-radius: 50%;
		a {
		  font-weight: bold;
			color: #fff;
		}
	}
}

.today {
	font-size: 17px;
	background: $blue;
	border: 1px solid $blue;
	border-radius: 50%;
	display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
	a {
		color: #fff;
	}
}


#pre-next-month {
	margin: 20px auto;
  #previous_month {
	  float:left;
	  margin-left: 20px;
  }
	#next_month {
	  float:right;
  	margin-right: 20px;
  }
}

/* claendar event */

.event {
	border-top: 5px solid $background;
}

.blue {
	border-bottom: 5px solid $blue;
}

.green {
	border-bottom: 5px solid $green;
}

.red {
	border-bottom: 5px solid $red;
}



/* to_do form */

#todo-form {
	background: $green1;
	padding: 20px;
	form {
	  input, select {
	  	background: $gray2;
	  }
	  .btn {
	  	background: $gray6;
	  }
	}
}

.event-description {
	background: $gray2;
	height: 120px;
}

#color-box {
	background: $gray2;
	padding: 15px;
	margin-top: 10px;
	border-radius: 7px;
	.color-select {
	  margin: 10px 20px 20px 10px;
    display: inline-block;
  }
}

.red-box {
	background: $red;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

.blue-box {
	background: $blue;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}


.green-box {
	background: $green;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

#todo-form-controller {
	margin: 20px 0 0 0;
}

