
#calendar {
	margin: 15px 0;
	font-size: 14px;
	color: $gray4;
	padding: 0 5px;
}

.calendar-each-row {
  height: 40px;
	text-align: center;
	border-bottom: 1px solid $gray3;
	padding: 0 0 0 5px;
}


.calendar-month {
	margin: 10px auto;
	text-align: center;
	color: $gray4;
	font-size: 16px;
	font-weight: bolder;
}

.week {
	font-size: 13px;
	font-weight: bolder;
  color: #788292;
	height: 50px;
	width: 13%;
	float: left;
	display: inline-block;
	text-align: center;
	margin: 15px 1px 25px 1px;
}


.event, .special-day, .normal-days {
	height: 40px;
	width: 13%;
	float: left;
	display: flex;
	align-items: center;
	margin: 0 1px;
	div {
		height: 27px;
		width: 27px;
		margin: auto;
		line-height: 27px;
		a {
			color: #00aeef;
		}
	}
}

.event {
	border-bottom: 5px solid #79b9e7;
	border-top: 5px solid $background;
}

.special-day {
	margin-right: 2px;
	.mark-mark {
	}
  .mark-active {
		background: $gray4;
		border-radius: 50%;
		a {
			color: #fff;
		}
	}
	#mark-today {
		background: $red;
		border-radius: 50%;
		a {
			color: #fff;
		}
	}
	#mark-today-active {
		height: 31px;
		width: 31px;
		margin: auto;
		background: $red;
		border: 3px solid $green;
		border-radius: 50%;
		a {
			color: #fff;
		}
	}
}


.normal-days {
  	#mark-today {
		height: 27px;
		width: 27px;
		margin: auto;
		background: $red;
		border-radius: 50%;
		line-height: 27px;
		color: #fff;
	}
}

#pre-next-month {
	margin: 20px auto;
  #previous_month {
	  float:left;
	  margin-left: 20px;
  }
	#next_month {
	  float:right;
  	margin-right: 20px;
  }
}

