/* calendar */

#calendar {
	margin: 15px 0;
	font-size: 14px;
	color: $gray4;
	padding: 0 5px;
}

.calendar-each-row {
  height: 46px;
	text-align: center;
	border-bottom: 1px solid $gray3;
	padding: 0 0 0 5px;
}


.calendar-month {
	margin: 10px auto;
	text-align: center;
	color: $gray4;
	font-size: 16px;
	font-weight: bolder;
}

.week {
	font-size: 13px;
	font-weight: bolder;
}




.each-day, .have-article , .week {
	margin-right: 1%;
	height: 45px;
	width: 13%;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	.number-box {
		height: 27px;
		width: 27px;
		margin: 8px 0 3px 0;
		line-height: 27px;
		a {
			color: $red;
			font-weight: bold;
		}
	}
}

.each-day-toggle {
	background: $red;
	color: #fff;
}


.have-article {
	.today  {
		a {
		  color: #fff;
		}
	}
  .active {
		background: $gray4;
		border-radius: 50%;
		a {
		  font-weight: bold;
			color: #fff;
		}
	}
}

.today {
	font-size: 17px;
	background: $blue;
	border: 1px solid $blue;
	border-radius: 50%;
	display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
	a {
		color: #fff;
	}
}


#pre-next-month {
	margin: 20px auto;
  #previous_month {
	  float:left;
	  margin-left: 20px;
  }
	#next_month {
	  float:right;
  	margin-right: 20px;
  }
}

/* event box */


.event {
	width: 33px;
	height: 5px;
	margin-top: 1px;
	.hide-box {
		display: none;
	}
}


.blue {
	background: $blue;
}

.green {
	background: $green;
}

.red {
	background: $red;
}


.hide-row-box {
	display: none;
	height: auto;
	background: $green1;
	padding: 10px;
	.hide-event-box {
		width: 45%;
		padding: 5px;
		margin: 5px;
		float: left;
		border: 2px solid #fff;
		text-align: left;
		.event-date {
		  font-size: 16px;
			color: #fff;
		}
		.event-title {
			font-size: 20px;
			color: #666;
			margin: 5px 0;
		}
		.event-description {
			background: $background;
			padding: 5px;
			font-size: 18px;
			color: $gray4;
		}
	}
}

