
/* 管理頁面 */

.index-year {
  #manage-menu-all {
    border-radius: 7px;
    width: 100%;
    padding: 0;
    .manage-menu {
      color: #9bd9d9;
      border-radius: 7px;
      border-left: 2px solid #fff;
      text-align: center;
      height: 35px;
      line-height: 35px;
      font-size: 20px;
      margin: 20px 0 30px 0;
      width: 25%;
      background: $gray6;
      float: left;
      &:hover {
        background: lighten($gray6, 5%);
        color: $red;
      }
    }
  }
}

.edit-link {
	float: right;
	font-size: 15px;
	color: $green;
	&:hover {
		color: darken($green, 20%)
	}
}

.link-sym {
	float: right;
	font-size: 15px;
}

.delete-link {
	float: right;
	font-size: 15px;
	color: $gray4;
	&:hover {
		color: $red;
	}
}

#manage-tags-box {
  margin: 40px 0;
  padding: 10px 5px;
  background: #f5f5f5;
  border-radius: 7px;
  border: 2px solid #fff;
  #manage-tags {
    color: $gray6;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    background: #eee;
    font-size: 16px;
    font-weight: 500;
    width: 180px;
    border-radius: 5px;
  } 
  .manage-show-tags {
    margin: 15px 0;
    padding: 0 0 0 15px;
    .manage-show-tag {
      margin: 15px 5px;
      width: 45%;
      float: left;
      #tag-name {
        color: #444;
        font-size: 16px;
        &:hover {
          color: $red;
          .manage-tag-size  {
          color: $red
          }
        }
      }
      .manage-tag-size {
        color: #111;
      }   
    }
  }
}

#tag-delete {
  a {
  	font-size: 14px;
    color: darken($gray2, 40%);
    &:hover {
    	color: $red;
    }
  }
}  
