
/* 管理頁面 */


.manage-menu, .recycling-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid $gray6;
  text-align: center;
  background: $gray6;
  font-size: 20px;  
}

.index-year {
  padding: 0 10px;
  #manage-menu-all {
    border-radius: 5px;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    .active-1 {
      background: #fff !important;
      color: darken($cyan, 20%) !important;
    }
    .manage-menu {
      color: $cyan;
      height: 35px;
      margin: 0 0 10px 1%;
      width: 24%;
      float: left;
      &:hover {
        background: lighten($gray6, 5%);
        color: #fff;
      }
    }
    .recycling-bin {
      color: $gray1;
      height: 40px;
      margin: 0 0 10px 0;
      width: 40%;
      float: right;
      &:hover {
        background: lighten($gray6, 5%);
        color: #fff;
      }
      .glyphicon-trash {
        margin: 0 20px 0 0;
      }
    }
    .clear-trash {
      color: $blue1;
      letter-spacing: -1px;
      margin: 10px 0 10px 10px;
      float: left;
    }
  }
}


#manage-tags-box {
  margin: 20px 0;
  padding: 10px 5px;
  background: #f5f5f5;
  border-radius: 7px;
  border: 2px solid #fff;
  #manage-tags {
    color: $gray6;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    background: #eee;
    font-size: 16px;
    font-weight: 500;
    width: 180px;
    border-radius: 5px;
  } 
  .manage-show-tags {
    margin: 15px 0;
    padding: 0 0 0 15px;
    .manage-show-tag {
      margin: 15px 5px;
      width: 45%;
      float: left;
      #tag-name {
        color: #444;
        font-size: 16px;
        &:hover {
          color: $red;
          .manage-tag-size  {
          color: $red
          }
        }
      }
      .manage-tag-size {
        color: #111;
      }   
    }
  }
}

#tag-delete {
  a {
  	font-size: 14px;
    color: darken($gray2, 40%);
    &:hover {
    	color: $red;
    }
  }
}  
