#nav {
	border: none;
}

#nav-login {
	float: right;
	line-height: 50px;
	color: #fff;
}

#nav-gravatar {
	padding: 0;
	a {
		padding: 0 10px;
		line-height: 50px;
		.gravatar {
			margin-right: 5px;
			margin-left: 2px;
			img {
				border-radius: 50%;
			}
		}
	}
}


@media screen and (min-width: 768px) {
	#navbar-list ul li {
		&:hover {
			background: #333;
		}
		a {
			color: $gray3;
		}
	}
	.navbar-right {
		margin-right: 5px;
	}
	.navbar-left {
		margin-left: 100px;
		#new {
			float: left;
			color: #222;
			background: $yg;
			&:hover {
				background: darken($yg, 5%);
				color: #fff;
			}
		}	
	}
	.active-new {
		background: darken($yg, 5%);
	}	
}

@media screen and (max-width: 768px) {
	#navbar-list {
	margin-top: 50px;
	margin-left: 5px;
	}
}