/* box */

#side-bar {
  padding: 0;
  #side-bar-container {
    padding: 0;
    width: 80%;
    min-width: 300px;
  }
}

#tag-box {
  margin-top: 75px;
  background: #fff;
  border: 1px solid $gray3;
  border-radius: 5px;
  padding: 20px 10px; 
  overflow: auto;
  legend {
    color: #fff;
    background: #555;
    margin-left: 20px;
    padding: 10px 10px 10px 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
  }
  .each-tag {
    display: inline-block;
    padding: 3px 8px;
    margin-top: 5px;
    color: #fff;
    border-radius: 2px;
  }
}


/* event form */

#todo-box {
  padding: 10px;
}

#todo-form-controller {
	margin: 0 0 40px 0;
  padding: 0 0 0 25px;
	font-size: 22px;
  height: 60px;
	text-align: left;
	color: #555;
	text-decoration: none;
  border-left: 12px solid $blue1;
  display: flex;
  align-items: center;
  .glyphicon-plus {
    margin-right: 10px;
  }
	&:hover {
		color: $red;
	}
}

.glyphicon-minus {
  color: $red;
}

#todo-form {
	background: $blue1;
	padding: 20px 10px;
	color: #555;
	form {
	  input, select {
	  	background: $blue1;
	  	border: 2px solid $gray3;
	  }
	  .btn {
	    background: #555;
			color: #fff;
			border: none;
		}
	}
	.event-form {
		margin: 15px 0;
		padding: 0;
	}
}

.event-form-field {
  color: #fff;
  width: 100%;
}

.event-description-form {
	background: $gray2;
	height: 120px;
	border-radius: 3px;
}

#color-box {
	background: $gray2;
	padding: 15px;
	margin-top: 10px;
	border-radius: 3px;
	.color-select {
	  margin: 10px 20px 20px 10px;
    display: inline-block;
  }
}

#red-box {
	background: $red;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

#blue-box {
	background: $blue;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}


#green-box {
	background: $green;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}


#purple-box {
	background: $purple;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

