/* event form */


#todo-form-controller {
	margin: 0;
	height: 50px;
	background: $purple;
	font-size: 22px;
	text-align: center;
	color: #444;
	line-height: 50px;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
}

#todo-form {
	background: $purple;
	padding: 20px;
	color: #555;
	form {
	  input, select {
	  	background: $purple;
	  	border: 2px solid $gray3;
	  }
	  .btn {
	    background: #555;
			color: #fff;
			border: none;
		}
	}
	.event-form-div {
		margin: 15px 0;
		padding: 0;
	}
}

.event-form {
  color: #fff;
  width: 80%;
}

.event-description-form {
	background: $gray2;
	height: 120px;
	border-radius: 3px;
}

#color-box {
	background: $gray2;
	padding: 15px;
	margin-top: 10px;
	border-radius: 3px;
	.color-select {
	  margin: 10px 20px 20px 10px;
    display: inline-block;
  }
}

#red-box {
	background: $red;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

#blue-box {
	background: $blue;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}


#green-box {
	background: $green;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}


#purple-box {
	background: $purple;
	padding: 0 auto;
	width: 40px;
	height: 10px;
  display: inline-block;
}

