@import 'global';

.tag-name {
  margin: 20px 140px 20px 5px;
  padding: 20px 10px;
  h5 {
    margin: 0 0 25px 0;
    .glyphicon-tag {
      float: left;
      color: $gray5;
      transform:scale(0.8);
      -webkit-transform:scale(0.8);
      margin: 0 5px 0 0;	
    }
  }
  .tag-articles {
    margin: 0 0 0 15px;
  }
}