/* 雜 */


#side-bar {
	margin : 0px 0;
}

#gravatar-1 {
  float:right;  
}


/* 帳號設定 */

.account-setting {
	margin: 20px 0;
	font-size: 25px;
	font-weight: bold;
}

.account-old-setting {
	font-size: 18px;
	color: #517891;
}

.gravatar-check-box {
	margin: 30px 0;
}

/* 分頁 */

.pagi {
	text-align: center;
	background: #f5f5f1;
	font-weight: bolder;
}



/* user-show-page */


.user-article-title {
	  font-size: 25px;
		font-weight: bolder;
		letter-spacing: 2px;
		line-height: 26px;
}



.user-article-show {
	background: #ffffff;
  font-weight: bold;
	padding: 20px;
	margin: 30px;
	height: auto;
	width: 100%;
	border: none;
}

.created-at {
	color: #8b8c8d;
	font-weight: bolder;
	text-align: right;
}


/* box */

#box-1 {
  font-size: 25px;


  padding: 0;
  color: #505050;
  background: #95a5a6;

  a {
    color:#fffaec;
    &:hover {
    color: #d7584f;
    }
    &:hover:before {
    color: #fffaec;
    }
  }
  a:before {
    color: #505050;
    margin: 0 3px 0 0;
  }
}


#box-2 {
  font-size: 25px;
  height: 150px;
  padding: 0;
  color: #505050;
  background: #489fc9;
  a {
    color:#fffaec;
    &:hover {
    color: #d7584f;
    }
    &:hover:before {
    color: #fffaec;
    }
  }
  a:before {
    color: #505050;
    margin: 0 3px 0 0;
  }
  #box-2-1 {
    font-size: 30px;
    padding: 20px 0;
    height: 105px;
    width: 120px;
    margin: auto;
  }
  #box-2-2 {
    font-size: 36px;
    height: 45px;
    text-align: center;
    background: #93c378;
  }
}


