<div id="side-bar-container">    
<!--   <div id="todo-box">
    <%= show_link_if(current_user?(@user), "#", class: "col-md-11 col-sm-12 col-xs-7", 
      id:"todo-form-controller") do %>
      <span class="glyphicon glyphicon-plus"></span>
      <span>New Event</span>
    <% end %>  
    <div class="col-md-11 col-sm-12 col-xs-12" id="todo-form">
      <%= render 'todo_events/form' %>
    </div> 
  </div>   -->

  <div class="hidden-sm" id="calendar">
    <%= render 'calendar/calendar' %>
  </div>

  <fieldset id="tag-box">
		<legend>
			<span class="glyphicon glyphicon-tags"></span>TAGS
		</legend>
		<div>
			<%= render partial: 'side_bar/tag_field', collection: @tags, as: :tag %>
	  </div>
  </fieldset>
</div>  
