<nav class="navbar navbar-fixed-top navbar-inverse" id="guest-nav">
	<div class="container-fluid">
		<div class="navbar-header">
		  <%= guest_blog_title %>
	  </div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "登入", login_path, id: "login" %></li>
			</ul>
	</div>
</nav>