<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to "Fuck You", root_path, id: "logo" %>
	  </div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "登入", login_path %></li>
			</ul>
	</div>
</nav>