<nav class="navbar navbar-fixed-top navbar-default navbar-inverse" id="nav">
	<div class="container-fluid">
    <% if !logged_in? %>
      <%= nav_li "Login", login_path, "sign-in", id: "nav-login" %>
    <% end %>  
		<%= render 'layouts/user_options' if logged_in? %> 
  </div>
</nav>
