<nav class="navbar navbar-fixed-top navbar-default" id="nav-all">
	<div class="container-fluid">
    <%= render_blog_title %>
    <div class="nav-link">
    	<%=  show_login_path %>
			<%= render_nav_menu %>
	  <div>
  </div>
</nav>