<nav class="navbar navbar-fixed-top navbar-default" id="user-nav">
	<div class="container-fluid">
    <div class="navbar-header" id="logo">
    	<%= user_blog_title %>
    </div>
	  <%= render_dropdown_nav %>
  </div>
</nav>